
body {
  text-align: center;
  width: 100%;
  margin: 0;
  color: white;
  font-family: "Montserrat",sans-serif;
  background: black;
}
header {
  width: 100%;
  height:auto;
}
footer {
  margin-top: 20px;
}
h1, h2 {
  font-family: 'Fugaz One', cursive;
}
h1 {
  margin-top: 0;
  font-size: 24px;
  color: white;
  padding: 0 10%;
}
h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  color: #ccc;
  padding: 0 10%;
}
p {
  font-size: 10px;
}
a {
  color: white;
  list-style-type: none;
}
img {
  width: 100%;
  height: auto;
}
#band_header, #footer_header {
  font-size: 36px;
  margin-top: 20px;
}
/*******************************************************
* Meet the Band - Desktop
********************************************************/
@media screen and (min-width: 770px) {
  #band_members {
    display: flex;
  }
  .doubles {
    display: flex;
  }
  #cliff, #jesse {
    border-right: 1px solid white;
  }
  #ryan {
    border-left: 1px solid white;
  }
  .singles {
    flex: 1;
    padding: 40px;
  }
}
/*******************************************************
* Meet the Band - Mobile
********************************************************/
@media only screen and (max-width: 770px) {
  #band_members {
    display: inline;
  }
  .doubles {
    display: flex;
    width: 100%;
  }
  #cliff, #jesse {
    border-bottom: 1px solid white;
  }
  #jesse, #ryan {
    border-left: 1px solid white;
  }
  .singles {
    flex: 1;
    padding: 40px;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  margin-top: 20px;
  background-image: url("images/stage.png");
  background-size: cover;
  background-position: center;
}
.music-player {
  display: block;
  position: relative;
  width: 400px;
  height: 620px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.cover {
  float: left;
  width: 100%;
  height: 66%;
}
.cover img {
  display: block;
  position: absolute;
  top: 8%;
  left: 15%;
  width: 70%;
  margin: auto;
  text-align: center;
}
.title {
  float: left;
  width: 100%;
}
.lecteur {
  width: 100%;
  display: block;
  height: auto;
  position: relative;
  float: left;
}
.mejs__button>button:focus {
  outline: 0px dotted #999;
}
.mejs__container {
  position: relative;
  background-color: transparent;
  min-width: auto !important;
}
.mejs__controls {
  padding: 0 10%;
  background: transparent !important;
  display: block;
  position: relative;
}
.mejs__controls div {
  display: block;
  float: left;
  position: relative;
}
.mejs__controls .mejs__playpause-button {
  position: absolute !important;
  right: 8%;
  bottom: 95%;
  width: 40px;
}
.mejs__controls .mejs__playpause-button button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 23px;
  color: white;
  background: transparent;
  padding: 0;
  margin: 0;
}
.mejs__controls .mejs__play button:before{
  content:"\f04b";
}
.mejs__controls .mejs__pause button:before{
  content:"\f04c";
}
.mejs__controls .mejs__volume-button button {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  font-family: FontAwesome;
  font-size: 20px;
  color: white;
  background: transparent;
  margin: 0;
  padding: 0;
}
.mejs__controls .mejs__mute button:before {
  content: "\f028";
}
.mejs__controls .mejs__unmute button:before {
  content: "\f026";
}
.mejs__controls .mejs__time {
  width: 100%;
  margin-top: 7%;
  margin-bottom: 3%;
  color: #fff;
  height: auto;
  padding: 0;
  overflow: visible;
  min-width: 100%;
}
.mejs__controls .mejs__time span {
  font-size: 15px;
}
.mejs__controls span.mejs__duration {
  float: right;
  text-align: right;
  color: #ccc;
}
.mejs__controls span.mejs__currenttime {
  font-weight: 700;
  float: left;
}
.mejs__controls .mejs__time-rail {
  width: 100%;
  margin: 0;
}
.mejs__controls .mejs__time-rail span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  cursor: pointer;
}
.mejs__controls .mejs__time-rail .mejs__time-loaded {
  background: rgba(255,255,255,0.2);
}
.mejs__controls .mejs__time-rail .mejs__time-float {
  display: none;
  top: -40px;
  width: 40px;
  height: 25px;
  margin-left: 0px;
  text-align: center;
  font-size: 10px;
  background: #fff;
  border: 0;
}
.mejs__controls .mejs__time-rail .mejs__time-float-current {
  display: block;
  position: relative;
  top: 0;
  margin: 0;
  line-height: 26px;
  color: black;
}
.mejs__controls .mejs__time-rail .mejs__time-float-corner {
  top: auto;
  bottom: -9px;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 6px solid #fff;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
.mejs__controls .mejs__time-rail .mejs__time-current {
  background: #5BBB95 none repeat scroll 0 0;
}
.mejs__controls .mejs__time-handle {
  display: none;
}
.mejs__controls .mejs__volume-button {
  position: relative;
  position: absolute !important;
  top: 70px;
  right: 25%;
  width: 40px;
  height: 40px;
}
.mejs__controls .mejs__horizontal-volume-slider {
  display: block;
  position: absolute !important;
  position: relative;
  top: 70px;
  right: 10%;
  width: 60px;
  height: 4px;
  margin-top: 18px;
  border-radius: 50px;
  line-height: 11px;
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.1);
}
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
  background: #fff;
}
/*******************************************************
* Footer
********************************************************/
.links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  list-style-type: none;
}
.left_icon, .center_icon, .right_icon {
  font-size: 50px;
  text-align: center;
  flex: 1;
}
.left_icon {
  border-right: 1px solid white;
}
.right_icon {
  border-left: 1px solid white;
}
.icons {
  color: white;
  width: 80px;
  height: 80px;
  transition: transform .2s; /* Animation */
}
.icons:hover, i:active {
  transform: scale(1.2);
}
#copyright {
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid white;
}
